.main-category .main-item .title-item {
    display: inline-block;
    padding: 0 10px;
    color: white;

}


.main-header .main-category .main-item > li:hover {
    text-decoration: underline;
    text-underline-offset: 6px;

}

.drop-item {
   padding: 30px 50px;
}

.drop-item .category-item > li:hover, .drop-item > div:hover {
    color: #4c6f60;
}